// Define variables for your color scheme

// For example:
$red: #A7095C;
$blue: #00043C;
$yellow: #FFDD00;
$orange: #FA9E05;
$green: #005D6C;
$light-green: #00C9B1;
$gray: #606060;
$light-gray: #F4F4F4;
$pink: #FFA3AC;

